h1 a {
  color: rgb(65, 64, 66);
}

h1 a:hover {
  color: rgb(65, 64, 66);
  text-decoration: none;
}

footer {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.delete {
        fill: #dc3545;
}

.edit {
        fill: green;
}

.handle {
  cursor: grab;
}

.configuration-delete, .network {
  cursor: pointer;
}

