<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <title>VintageNet Wizard</title>
      <link rel="stylesheet" type="text/css" href="css/styles.css">
   </head>
   <body>
      <div class="container">
         <div id="header">
            <div>
               <h2>VintageNet Wizard</h2>
            </div>
         </div>
         <div id="body">
            <div id="instructions">
               Add one or more networks to the configured list and then press "Save &amp; Connect"
            </div>

            <table class="netlist" id="wifi_cfg">
               <thead><tr> <th colspan="4">Configured Networks</th></tr></thead>
               <tbody></tbody>
            </table>

            <table class="netlist" id="wifi_scan">
               <thead><tr><th colspan="4">Scanned Networks</th></tr></thead>
               <tbody></tbody>
            </table>

            <table id="wifi_add" hidden="hidden">
               <thead><tr><th colspan="2">Add Network</th></tr></thead>
               <tbody>
               </tbody>
            </table>

            <div>
               <button id="btn-save" style="float:right;" onclick="save()" >Save &amp; Connect</button>
            </div>

         </div>
         <div id="footer">
            <div>
               <div id="device_info">
                  <%= for {key, value} <- device_info do %>
                     <div><b><%= key %></b><%= value %></div>
                  <% end %>
               </div>
            </div>
         </div>
      </div>

      <script src="js/app.js"></script>
   </body>
</html>
